services:
  db:
    image: postgres:17-alpine
    container_name: nest_postgres_db
    restart: always
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    env_file:
      - .env  
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: